@import '_bootstrap';


.jumbotron {
	background-color: #745C97;
	// margin-bottom: 0;
	// background-image: url(assets/images/olena.jpg);
	h1 {
		color: #fff;
	}
}

#shortbio {
	background: #f9f9f9;
	padding: 1em;
}
#footer {
	background-color: darken(#745C97,6.5%);
}